<a href="https://colab.research.google.com/github/bhagyalakshmic/Foundations-of-Python-1/blob/master/Foundations%20of%20Python%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Please use the following sign-in form to fill your details**
**[Sign-in Form](https://forms.office.com/r/K8m4siMZ56)**

# Objectives


* **Foundations of Python 1**<br>

* **Hands-on**
 * Syntax
 * Strings
 * Lists
 * Dictionaries
 * Sets <br>

* **Future Topics**<br>

* **Resources**

# Introduction
* Developed in early 90â€™s by **Guido Van Rossum**

### What is Python
* General purpose, 
 * *High Level*
 * *Structured*
 * *Interpreted*
 * *Object-oriented Language*

* Simple, Portable, Open source & Powerful

### Ways to run Python
* Interactive Interpreter (Classic command line interpreter or Python Shell) - Run as a calculator or used to run a python program
* Script from command line - Used to run a python program
* General purpose Integrated Development Environment (IDE) - Eclipse, Netbeans, etc
* Python dedicated IDEs like Pycharm, Spyder, IDLE
* Web-based interactive computational environment like Jupyter Notebooks, Google Colaboratory, etc

# Variables and Data Types

### Variables
* Stores a piece of data and gives it a specific name
* Do not need to specify data type (No Declaration needed)
* Equal sign **( = )** is used to assign values to variables

In [ ]:
v = 98

**' v '** is the variable name
<br>
**' = '** is the assignment operator
<br>
**98** is the value

#### Variable names
* No spaces allowed (Use underscore or init caps, example - 'my_name' or 'myName')
* No special symbols or characters like '"@#%^&()-/\* except the underscore '_'
* Cannot begin with a number but may have a number within the variable name
* The python community by convention begin variable names with small letters but caps are allowed anywhere else

In [2]:
my_name = 'John Smith'

In [3]:
v_1 = 8
v_2 = 9

#### Using a variable
To use a variable, just type out the variable name. 
<br>
See examples below

In [4]:
print(my_name)

John Smith

In [5]:
age = v_1 + v_2

In [6]:
print ('I am', age, 'years old')

I am 17 years old

**<h5><center>Note</center></h5>**


**'print'** is a function that displays its arguments (inputs). It can take multiple arguments (inputs) separated by commas '**,**'.
<br>
We will introduce **functions** later

### Data types
Data Types are implied. They do not have to be declared
* Numeric types - int, float, complex
* Boolean - True, False
* String
* List
* Tuple
* Dictionary
* Set

# Math Operators

#### Addition ( + )

In [7]:
2+3

5

#### Subtraction ( - )

In [8]:
9-3

6

#### Multiplication ( * )

In [9]:
3*8

24

#### Division( / )

In [10]:
3/2

1.5

#### Floor Division ( // )

In [11]:
3//2

1

#### Modulus( % )

In [12]:
9%5

4

#### Exponent( ** )

In [13]:
2**3

8

# Comments
* Single line commenting symbol is the hash symbol '#'
* The interpreter ignores everything after #
* Leave comments in your code to make it understandable to other team members and for yourself

In [14]:
# This line is ignored

* Multi-line - Not supported in Python
* Use the # on each line of a multiline comment

In [15]:
# This is a multiline comment
# This line and the line above are both ignored by the interpreter

# Exercise 1
#### Tip Calculator!!
Cost of meal = 54.76
<br>
Tax = 7.85%
<br>
Tip = 15%
<br>
Find the tax amount, cost after the tax, tip amount, and total cost

In [16]:
# Create a variable for cost of meal, tax and tip and assign their values
# Note that percentage is not captured in programming languages. Divide by 100 instead. 
cost_of_meal = 54.76
Tax = 0.0785
Tip = 0.15



# Calculate tax amount by creating a variable for it and assign it to a formula using the variables for cost of meal and tax
Tax_amount = Tax*cost_of_meal

# Calculate cost after tax
cost_after_tax = cost_of_meal+Tax_amount

# Calculate tip amount
# Hint: Calculate the tip amount the cost after tax
Tip_amount = cost_after_tax*Tip

# Calculate total amount
Total_amount=cost_after_tax+Tip_amount

print('My original meal cost is', cost_of_meal)

# Follow the example above and print the tax amount
print('My tax amount is', Tax_amount)

# Print the cost after tax
print('My cost after tax is', cost_after_tax)

# Print the tip amount
print('My tip amount is', Tip_amount)

# Print the total cost of the meal

print('The total cost of the meal is', Total_amount)

My original meal cost is 54.76
My tax amount is 4.29866
My cost after tax is 59.058659999999996
My tip amount is 8.858799
The total cost of the meal is 67.917459

# Strings
Any strand of all characters on the keyboard put in quotation.
#### One line strings - declared in single quotes (' ') or double quotes (" ")
Single and double quotes can be used interchangeably

In [17]:
name_1 = 'John Wick'
name_2 = "Dag Heward-Mills"

In [18]:
# this is a string and not an integer
age = '2'

In [19]:
# Start with a double quote if you use a single quote in your string
f = "This is Del's pencil"

In [20]:
# Start with a single quote if you use a double quote in your string
f = 'Francis said "This is my pencil"'

In [21]:
print (f)

Francis said "This is my pencil"

#### Multi-line strings - declared in triple quotes ( """ """ or ''' ''' )

In [22]:
eg = """I am in the CEAS library in 
Introduction to Python session """

In [23]:
print(eg)

I am in the CEAS library in
Introduction to Python session

### String Indexing
**Each character can be accessed by using their index starting from index 0**

In [24]:
name = 'Johnson Smith'

In [25]:
name[0]

'J'

In [26]:
name[1]

'o'

In [27]:
name[6]

'n'

In [28]:
name[12]

'h'

**You can start indexing from the right side with negative indexes starting with index -1**

In [29]:
name[-1]

'h'

In [30]:
name[-2]

't'

In [31]:
name[-13]

'J'

### Slicing
**You can extract a range of characters**
<br>
Assume a string variable called **'var'**
<br>
**var[starting index : ending index + 1]**

In [32]:
name

'Johnson Smith'

In [33]:
name[0:6]

'Johnso'

In [34]:
name[7:13]

' Smith'

In [35]:
name[1:4]

'ohn'

**<h5><center>Note</center></h5>**

**Strings are "IMMUTABLE"**
Once you create a string object, you cannot change a particular string location.
<br>
**name[6] = 'c'** 
<br>
will result in the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-44-d47a2608aba2 > in < module >()
<br>
----> 1 name[6]='-'
<br>
TypeError: 'str' object does not support item assignment

In [36]:
name[6] = 'c'

TypeError: ignored

### Some String Functions and Methods

**Length of string**

In [37]:
len(name)

13

**Convert to string**

In [38]:
age = 3

In [39]:
str(age)

'3'

**Convert to lower case**

In [40]:
name.lower()

'johnson smith'

Convert to upper case

In [41]:
name.upper()

'JOHNSON SMITH'

**Is digit/Is alpha**

Output is a Boolean value (True/False)

In [42]:
name = 'Francis'

In [43]:
name.isdigit()

False

In [44]:
name.isalpha()

True

In [45]:
str(age).isdigit()

True

**Replace characters**

In [46]:
name.replace('s','k')

'Francik'

**Split a string using a delimiter character**

In [47]:
text = 'I am going to the University of Cincinnati'
name = "Dag Heward-Mills"

In [48]:
text.split(' ')

['I', 'am', 'going', 'to', 'the', 'University', 'of', 'Cincinnati']

In [49]:
name.split('-')

['Dag Heward', 'Mills']

### String Concatenation
**Combining of strings is done by using the (+) operator between them**

In [50]:
string1 = 'My name is '
name = 'John'
string2 = string1 + name
print(string2)

My name is John

**In order to combine a string with a non-string variable, use str( ) method to convert non-strings to strings**
<br>
You cannot concatenate a string with a non-string type without converting the non-string type to a string.
<br>
No conversion will result in error similar tp the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-77-887da7680fd9 > in < module >( )
<br>
----> 1 string1 + 9
<br>
TypeError: must be str, not int

In [51]:
string1 = 'My name is '
name = 'John '
age = 16
string2 = string1 + name + 'I am ' + str(age) + ' years old'
print(string2)

My name is John I am 16 years old

# Lists
* A datatype that can store a collection of different pieces of information as a sequence under a single variable name
* **Creating lists** - Put comma separated values within square brackets. Values can be of different data types

In [52]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

### Accessing values via indexing
* Same as String objects. 
* Elements or a range of elements can be accessed by index

In [53]:
list1[0]

'physics'

In [54]:
list1[1]

'astronomy'

In [55]:
list1[4]

-9.36

In [56]:
list1[-1]

-9.36

In [57]:
list1[-2]

'MJ'

In [58]:
list1[1][3]

'r'

In [59]:
list2[3]

[3, 4, 65]

In [60]:
list2[3][2]

65

In [61]:
list1[0:4]

['physics', 'astronomy', 56.98, 'MJ']

In [62]:
list2[3:5]

[[3, 4, 65], 'EE']

### List Concatenation
**Can be done by using the (+) operator between two lists**

In [63]:
[1,2,3] + [5,6,7]

[1, 2, 3, 5, 6, 7]

In [64]:
list1 + list2

['physics',
 'astronomy',
 56.98,
 'MJ',
 -9.36,
 'chemistry',
 'biology',
 77.98,
 [3, 4, 65],
 'EE',
 -56]

### Some List Functions and Methods

**Length of a list**

In [65]:
len(list1)

5

In [66]:
len(list2)

6

**Maximum/Minimum value**

In [67]:
list3 = [3,4,67,2,1] 
list4 = ['3','4','67','2','1','four','three']

In [68]:
max(list3)

67

In [69]:
min(list3)

1

**Append object to list**

In [70]:
list4.append('two')
list4.append('three')
list4

['3', '4', '67', '2', '1', 'four', 'three', 'two', 'three']

**Frequency of object**

In [71]:
list4.count('three')

2

**Return index**

In [72]:
list4.index('1')

4

**Insert object**

In [73]:
list4.insert(3,56)
list4

['3', '4', '67', 56, '2', '1', 'four', 'three', 'two', 'three']

**Delete object**

*By Index position*

In [74]:
list4.pop(3)

56

In [75]:
list4

['3', '4', '67', '2', '1', 'four', 'three', 'two', 'three']

*By element referencing*

In [76]:
list4.remove('67')

In [77]:
list4

['3', '4', '2', '1', 'four', 'three', 'two', 'three']

**Reverse the list**

In [78]:
list4.reverse()
list4

['three', 'two', 'three', 'four', '1', '2', '4', '3']

**Sort the list (natural order)**

In [79]:
list4.sort()
list4

['1', '2', '3', '4', 'four', 'three', 'three', 'two']

**<h5><center>Note</center></h5>**

**Lists are "MUTABLE"**

In [80]:
list4[5] = 5
list4

['1', '2', '3', '4', 'four', 5, 'three', 'two']

# Tuples
**Tuples are sequences, just like lists except**
* Tuples are immutable - cannot be changed or updated like lists
* Tuples use parentheses ( ), whereas lists use square brackets [ ]

In [81]:
tup = (3,4,67,2,1)

**tup[2] = 8**
<br>
will result in the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-177-256383ac5724 > in < module >()
<br>
----> 1 tup[2] = 8
<br>
TypeError: 'tuple' object does not support item assignment

# Dictionary

* Similar to a list except values are accessed by looking up a **key** instead of an index
* A key can be a string or number
* **Creating dictionaries** - **key-value** pairs are separated by colons (**:**), items are separated by commas (**,**) and everything is enclosed in curly braces { }

In [82]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}

* **Accessing values**

In [83]:
dict1['age']

23

In [84]:
dict2['worked-for']

['Ford', 'TWR', 'Aston Martin']

In [85]:
dict2['worked-for'][1]

'TWR'

* **Updating dictionary** - Dictionaries are MUTABLE. 
<br>
  You may **modify an existing entry** and **add new entry**

In [86]:
dict1['subjects'] = ["OS",'DBMS','Artificial Intelligence']

In [87]:
dict1

{'name': 'Daniel',
 'age': 23,
 'degree': 'MS',
 'subjects': ['OS', 'DBMS', 'Artificial Intelligence']}

In [88]:
dict1['degree']='Master of Science'

In [89]:
dict1

{'name': 'Daniel',
 'age': 23,
 'degree': 'Master of Science',
 'subjects': ['OS', 'DBMS', 'Artificial Intelligence']}

### Some Dictionary functions and Methods
**Length of Dictionary**

In [90]:
len(dict1)

4

**Return value with get method**

In [91]:
dict1.get('name')

'Daniel'

**List of key-value pairs**

In [92]:
dict1.items()

dict_items([('name', 'Daniel'), ('age', 23), ('degree', 'Master of Science'), ('subjects', ['OS', 'DBMS', 'Artificial Intelligence'])])

**List of keys**

In [93]:
dict1.keys()

dict_keys(['name', 'age', 'degree', 'subjects'])

**List of values**

In [94]:
dict1.values()

dict_values(['Daniel', 23, 'Master of Science', ['OS', 'DBMS', 'Artificial Intelligence']])

# Sets

* A set is an unordered, unindexed collection of data
* Sets are defined using '{ }'
* Returns only unique values, no duplicates
* Sets are mutable

In [95]:
tech = {'google','amazon','apple','tesla','microsoft','apple', 'google'}
tech

{'amazon', 'apple', 'google', 'microsoft', 'tesla'}

## **Exercise 2**

#### **(Strings, Lists, and Dictionaries)**
*   Create a variable with the string value - **'The quick brown fox jumps over a lazy dog'** <br>
    * Print the length of this string variable
    * **'Split'** the string using **'  '** (space character) and assign this operation to a new variable. Print the length of the new variable
    * Find the middle element of the sequence in new variable and return its value
    * **'Sort'** the elements of the new variable and **'append'** a new string value (a word/more than a word) 
    * **'Join'** the split strings (in the new variable) with a space character and print this operation (**Hint: ' '.join(variable_name)**)

In [96]:
# Enter your code here
# Enter your code here
String = 'The quick brown fox jumps over a lazy dog'

# printing my string
print("My string is",String)

# Length of the string
print("The length of the string",len(String))

# Splitting my string
new_string = String.split(' ')

# Printing my new string
print("The new string is", new_string)

# Length of the string
print("The length of the new string",len(new_string))

# finding the middle element
mid_obj=len(new_string)//2

# printing the middle element
print("The miidle element is", new_string[mid_obj])

# Sorting the new string
new_string.sort()
print(new_string)

#Adding a string to the 'new' variable
new_string.append('. This is another string')

#Joining the the individual strings into one string
' '.join(new_string)

My string is The quick brown fox jumps over a lazy dog
The length of the string 41
The new string is ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']
The length of the new string 9
The miidle element is jumps
['The', 'a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick']

'The a brown dog fox jumps lazy over quick . This is another string'

*   Create a dictionary from the following table. (Column Name - Keys, Corresponding Data - Values)
  * Return **'keys'** and **'values'** separately


>|Director | Movies | Academy Awards |
|------|-----|-----------|
| Q Tarantino    |<center> 10 |<center> 7  |
| C Nolan   |<center> 11 |<center>11 |
| S Spielberg    |<center> 37 |<center>3  |
| PT Anderson    |<center> 9 |<center>3  |
| M Scorsese	   | <center>25 |<center>20 |
| C Eastwood | <center>40 |<center>4 |

In [97]:
# Enter your code here


new_dict = {'Director':['Q Tarantino', 'C Nolan', 'S Spielberg', 'PT Anderson', 'M Scorsese', 'C Eastwood'],'Movies':[10,11,37,9,25,40],'Academy Awards':[7,11,3,3,20,4]}

# Items in the dictionary
print(new_dict.items())

# Keys in the dictionary
print(new_dict.keys())

# Values in the dictionary
print(new_dict.values())

dict_items([('Director', ['Q Tarantino', 'C Nolan', 'S Spielberg', 'PT Anderson', 'M Scorsese', 'C Eastwood']), ('Movies', [10, 11, 37, 9, 25, 40]), ('Academy Awards', [7, 11, 3, 3, 20, 4])])
dict_keys(['Director', 'Movies', 'Academy Awards'])
dict_values([['Q Tarantino', 'C Nolan', 'S Spielberg', 'PT Anderson', 'M Scorsese', 'C Eastwood'], [10, 11, 37, 9, 25, 40], [7, 11, 3, 3, 20, 4]])

# Bonus Exercise

## Nested Dictionary

Create a dictionary with the following properties:

- A 'name' key for a manager's name
- A 'salary' key for a manager's salary
- A 'assistant key for the following dictionary:
    - A 'name' key for an assistant's name
    - A 'salary' key for an assistant's salary

In [100]:
manager = {
    'name' : 'Mary',
    'salary': 100000,
    'assistant': {
        'name': 'Aron',
        'salary': 90000
    }
    }
print(manager)

{'name': 'Mary', 'salary': 100000, 'assistant': {'name': 'Aron', 'salary': 90000}}

# Advanced and Future Topics
* Control Flows
* Functions and Variable scope 
* Classes/Objects
* Modules and Imports
* Packages and Libraries
* File I/O
* Python for Data Analysis
* Python for Data Visualiz ation
* Error Handling and Exceptions
* List Comprehension
* Regular Expressions
* Database Access
* Multithreading

# Resources
* CEAS Library Python resources - http://guides.libraries.uc.edu/python
* Online links & tutorials
 * Python documentation - https://www.python.org/doc/
 * Python Programming wiki book - http://en.wikibooks.org/wiki/Python_Programming
 * Python tutorials - Udemy, Code academy, etc
 * For success stories - https://www.python.org/about/success

# $\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Questions ??

$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Thank you for attending the workshop !!**


$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Your kind suggestions/feedbacks are more than welcome**