### **Please use the following sign-in form to fill your details**
**[Sign-in Form](https://forms.office.com/r/c7ER2hqjre)**


![MicrosoftTeams-image.png]()

# Objectives


* **Introduction to Python Part I**<br>

* **Hands-on**
 * Syntax
 * Strings
 * Lists
 * Dictionaries
 * Sets <br>

* **Future Topics**<br>

* **Resources**

# Introduction
* Developed in early 90’s by **Guido Van Rossum**

### What is Python
* General purpose, 
 * *High Level*
 * *Structured*
 * *Interpreted*
 * *Object-oriented Language*

* Simple, Portable, Open source & Powerful

### Ways to run Python
* Interactive Interpreter (Classic command line interpreter or Python Shell) - Run as a calculator or used to run a python program
* Script from command line - Used to run a python program
* General purpose Integrated Development Environment (IDE) - Eclipse, Netbeans, etc
* Python dedicated IDEs like Pycharm, Spyder, IDLE
* Web-based interactive computational environment like Jupyter Notebooks, Google Colaboratory, etc

# Variables and Data Types

### Variables
* Stores a piece of data and gives it a specific name
* Do not need to specify data type (No Declaration needed)
* Equal sign **( = )** is used to assign values to variables

In [ ]:
v = 98

**' v '** is the variable name
<br>
**' = '** is the assignment operator
<br>
**98** is the value

#### Variable names
* No spaces allowed (Use underscore or init caps, example - 'my_name' or 'myName')
* No special symbols or characters like '"@#%^&()-/\* except the underscore '_'
* Cannot begin with a number but may have a number within the variable name
* The python community by convention begin variable names with small letters but caps are allowed anywhere else

In [ ]:
my_name = 'John Smith'

In [ ]:
v_1 = 8
v_2 = 9

#### Using a variable
To use a variable, just type out the variable name. 
<br>
See examples below

In [ ]:
print(my_name)

In [ ]:
age = v_1 + v_2

In [ ]:
print ('I am', age, 'years old')

**<h5><center>Note</center></h5>**


**'print'** is a function that displays its arguments (inputs). It can take multiple arguments (inputs) separated by commas '**,**'.
<br>
We will introduce **functions** later

### Data types
Data Types are implied. They do not have to be declared
* Numeric types - int, float, complex
* Boolean - True, False
* String
* List
* Tuple
* Dictionary
* Set

# Math Operators

#### Addition ( + )

In [ ]:
2+3

#### Subtraction ( - )

In [ ]:
9-3

#### Multiplication ( * )

In [ ]:
3*8

#### Division( / )

In [ ]:
3/2

#### Floor Division ( // )

In [ ]:
3//2

#### Modulus( % )

In [ ]:
9%5

#### Exponent( ** )

In [ ]:
2**3

# Comments
* Single line commenting symbol is the hash symbol '#'
* The interpreter ignores everything after #
* Leave comments in your code to make it understandable to other team members and for yourself

In [ ]:
# This line is ignored

* Multi-line - Not supported in Python
* Use the # on each line of a multiline comment

In [ ]:
# This is a multiline comment
# This line and the line above are both ignored by the interpreter

# Exercise 1
#### Tip Calculator!!
Cost of meal = 54.76
<br>
Tax = 7.85%
<br>
Tip = 15%
<br>
Find the tax amount, cost after the tax, tip amount, and total cost

In [ ]:
# Create a variable for cost of meal, tax and tip and assign their values
# Note that percentage is not captured in programming languages. Divide by 100 instead. 
cost_of_meal = 54.76




# Calculate tax amount by creating a variable for it and assign it to a formula using the variables for cost of meal and tax


# Calculate cost after tax


# Calculate tip amount
# Hint: Calculate the tip amount the cost after tax


# Calculate total amount


print('My original meal cost is', cost_of_meal)

# Follow the example above and print the tax amount


# Print the cost after tax


# Print the tip amount


# Print the total cost of the meal

# Strings
Any strand of all characters on the keyboard put in quotation.
#### One line strings - declared in single quotes (' ') or double quotes (" ")
Single and double quotes can be used interchangeably

In [ ]:
name_1 = 'John Wick'
name_2 = "Dag Heward-Mills"

In [ ]:
# this is a string and not an integer
age = '2'

In [ ]:
# Start with a double quote if you use a single quote in your string
f = "This is Del's pencil"

In [ ]:
# Start with a single quote if you use a double quote in your string
f = 'Francis said "This is my pencil"'

In [ ]:
print (f)

#### Multi-line strings - declared in triple quotes ( """ """ or ''' ''' )

In [ ]:
eg = """I am in the CEAS library in 
Introduction to Python session """

In [ ]:
print(eg)

### String Indexing
**Each character can be accessed by using their index starting from index 0**

In [ ]:
name = 'Johnson Smith'

In [ ]:
name[0]

In [ ]:
name[1]

In [ ]:
name[6]

In [ ]:
name[12]

**You can start indexing from the right side with negative indexes starting with index -1**

In [ ]:
name[-1]

In [ ]:
name[-2]

In [ ]:
name[-13]

### Slicing
**You can extract a range of characters**
<br>
Assume a string variable called **'var'**
<br>
**var[starting index : ending index + 1]**

In [ ]:
name

In [ ]:
name[0:6]

In [ ]:
name[7:13]

In [ ]:
name[1:4]

**<h5><center>Note</center></h5>**

**Strings are "IMMUTABLE"**
Once you create a string object, you cannot change a particular string location.
<br>
**name[6] = 'c'** 
<br>
will result in the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-44-d47a2608aba2 > in < module >()
<br>
----> 1 name[6]='-'
<br>
TypeError: 'str' object does not support item assignment

In [ ]:
name[6] = 'c'

### Some String Functions and Methods

**Length of string**

In [ ]:
len(name)

**Convert to string**

In [ ]:
age = 3

In [ ]:
str(age)

**Convert to lower case**

In [ ]:
name.lower()

Convert to upper case

In [ ]:
name.upper()

**Is digit/Is alpha**

Output is a Boolean value (True/False)

In [ ]:
name = 'Francis'

In [ ]:
name.isdigit()

In [ ]:
name.isalpha()

In [ ]:
str(age).isdigit()

**Replace characters**

In [ ]:
name.replace('s','k')

**Split a string using a delimiter character**

In [ ]:
text = 'I am going to the University of Cincinnati'
name = "Dag Heward-Mills"

In [ ]:
text.split(' ')

In [ ]:
name.split('-')

### String Concatenation
**Combining of strings is done by using the (+) operator between them**

In [ ]:
string1 = 'My name is '
name = 'John'
string2 = string1 + name
print(string2)

**In order to combine a string with a non-string variable, use str( ) method to convert non-strings to strings**
<br>
You cannot concatenate a string with a non-string type without converting the non-string type to a string.
<br>
No conversion will result in error similar tp the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-77-887da7680fd9 > in < module >( )
<br>
----> 1 string1 + 9
<br>
TypeError: must be str, not int

In [ ]:
string1 = 'My name is '
name = 'John '
age = 16
string2 = string1 + name + 'I am ' + str(age) + ' years old'
print(string2)

# Lists
* A datatype that can store a collection of different pieces of information as a sequence under a single variable name
* **Creating lists** - Put comma separated values within square brackets. Values can be of different data types

In [ ]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

### Accessing values via indexing
* Same as String objects. 
* Elements or a range of elements can be accessed by index

In [ ]:
list1[0]

In [ ]:
list1[1]

In [ ]:
list1[4]

In [ ]:
list1[-1]

In [ ]:
list1[-2]

In [ ]:
list1[1][3]

In [ ]:
list2[3]

In [ ]:
list2[3][2]

In [ ]:
list1[0:4]

In [ ]:
list2[3:5]

### List Concatenation
**Can be done by using the (+) operator between two lists**

In [ ]:
[1,2,3] + [5,6,7]

In [ ]:
list1 + list2

### Some List Functions and Methods

**Length of a list**

In [ ]:
len(list1)

In [ ]:
len(list2)

**Maximum/Minimum value**

In [ ]:
list3 = [3,4,67,2,1] 
list4 = ['3','4','67','2','1','four','three']

In [ ]:
max(list3)

In [ ]:
min(list3)

**Append object to list**

In [ ]:
list4.append('two')
list4.append('three')
list4

**Frequency of object**

In [ ]:
list4.count('three')

**Return index**

In [ ]:
list4.index('1')

**Insert object**

In [ ]:
list4.insert(3,56)
list4

**Delete object**

*By Index position*

In [ ]:
list4.pop(3)

In [ ]:
list4

*By element referencing*

In [ ]:
list4.remove('67')

In [ ]:
list4

**Reverse the list**

In [ ]:
list4.reverse()
list4

**Sort the list (natural order)**

In [ ]:
list4.sort()
list4

**<h5><center>Note</center></h5>**

**Lists are "MUTABLE"**

In [ ]:
list4[5] = 5
list4

# Tuples
**Tuples are sequences, just like lists except**
* Tuples are immutable - cannot be changed or updated like lists
* Tuples use parentheses ( ), whereas lists use square brackets [ ]

In [ ]:
tup = (3,4,67,2,1)

**tup[2] = 8**
<br>
will result in the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-177-256383ac5724 > in < module >()
<br>
----> 1 tup[2] = 8
<br>
TypeError: 'tuple' object does not support item assignment

# Dictionary

* Similar to a list except values are accessed by looking up a **key** instead of an index
* A key can be a string or number
* **Creating dictionaries** - **key-value** pairs are separated by colons (**:**), items are separated by commas (**,**) and everything is enclosed in curly braces { }

In [ ]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}

* **Accessing values**

In [ ]:
dict1['age']

In [ ]:
dict2['worked-for']

In [ ]:
dict2['worked-for'][1]

* **Updating dictionary** - Dictionaries are MUTABLE. 
<br>
  You may **modify an existing entry** and **add new entry**

In [ ]:
dict1['subjects'] = ["OS",'DBMS','Artificial Intelligence']

In [ ]:
dict1

In [ ]:
dict1['degree']='Master of Science'

In [ ]:
dict1

### Some Dictionary functions and Methods
**Length of Dictionary**

In [ ]:
len(dict1)

**Return value with get method**

In [ ]:
dict1.get('name')

**List of key-value pairs**

In [ ]:
dict1.items()

**List of keys**

In [ ]:
dict1.keys()

**List of values**

In [ ]:
dict1.values()

# Sets

* A set is an unordered, unindexed collection of data
* Sets are defined using '{ }'
* Returns only unique values, no duplicates
* Sets are mutable

In [ ]:
tech = {'google','amazon','apple','tesla','microsoft','apple', 'google'}
tech

## **Exercise 2**

#### **(Strings, Lists, and Dictionaries)**
*   Create a variable with the string value - **'The quick brown fox jumps over a lazy dog'** <br>
    * Print the length of this string variable
    * **'Split'** the string using **'  '** (space character) and assign this operation to a new variable. Print the length of the new variable
    * Find the middle element of the sequence in new variable and return its value
    * **'Sort'** the elements of the new variable and **'append'** a new string value (a word/more than a word) 
    * **'Join'** the split strings (in the new variable) with a space character and print this operation (**Hint: ' '.join(variable_name)**)

In [ ]:
# Enter your code here

*   Create a dictionary from the following table. (Column Name - Keys, Corresponding Data - Values)
  * Return **'keys'** and **'values'** separately


>|Director | Movies | Academy Awards |
|------|-----|-----------|
| Q Tarantino    |<center> 10 |<center> 7  |
| C Nolan   |<center> 11 |<center>11 |
| S Spielberg    |<center> 37 |<center>3  |
| PT Anderson    |<center> 9 |<center>3  |
| M Scorsese	   | <center>25 |<center>20 |
| C Eastwood | <center>40 |<center>4 |

In [ ]:
# Enter your code here

# Bonus Exercise

## Nested Dictionary

Create a dictionary with the following properties:

- A 'name' key for a manager's name
- A 'salary' key for a manager's salary
- A 'assistant key for the following dictionary:
    - A 'name' key for an assistant's name
    - A 'salary' key for an assistant's salary

In [ ]:
manager = {}

# Advanced and Future Topics
* Control Flows
* Functions and Variable scope 
* Classes/Objects
* Modules and Imports
* Packages and Libraries
* File I/O
* Python for Data Analysis
* Python for Data Visualiz ation
* Error Handling and Exceptions
* List Comprehension
* Regular Expressions
* Database Access
* Multithreading

# Resources
* CEAS Library Python resources - http://guides.libraries.uc.edu/python
* Online links & tutorials
 * Python documentation - https://www.python.org/doc/
 * Python Programming wiki book - http://en.wikibooks.org/wiki/Python_Programming
 * Python tutorials - Udemy, Code academy, etc
 * For success stories - https://www.python.org/about/success

# $\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Questions ??

$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Thank you for attending the workshop !!**


$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Your kind suggestions/feedbacks are more than welcome**